.section-detail{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  
  
  .items-container{
    box-shadow: -3px 4px 39px -5px rgba(0, 0, 0, 0.938);
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
    height: 35rem;
    
    .info{     
      background-color: rgba(0, 0, 0, 0.233);
      span{
      white-space: pre;
     }
    }
    img{
      height: 100%;
      border-radius: 10px 0px 0px 10px;
    }  
      
  }
}

@media (max-width: 400px) {
  .section-detail{
    width:100%;
    height: 88vh;
    background-size: 0;
    .items-container{
      display: flex;
      flex-direction: column;
      box-shadow: none;
      .img-box-size{
        width: 100%;
        img{
          width: 100vw;
          height: 50vh;
        }
      }
      .info{
        padding: 0;
        margin: 0;
        height: 310px;
        width: 100vw;
        .span-style{
          display: none;
        }
      }
    }
  

  }
}