.section-detail{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid;
  .box-content{
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.38); 
    box-shadow: -3px 4px 39px -5px rgba(0, 0, 0, 0.938);
  }}

@media (max-width: 425px) {
  .section-detail{
    width: 100%;
    background-position: 50%;

    .img-size{
      display: none;
    }
  }
  }

@media (min-width: 500px) and (max-width: 1024px) {
  .section-detail{
    width: 100%;
    background-position: 50%;

    .img-size{
      width: 90%;
    }
  }
}
@media (min-width: 1025px) {
  .section-detail{
    width: 100%;
    background-position: 50%;

    .img-size{
      width: 80%;
    }
  }
}
