.img-media-q{
  &:hover{
    opacity: 0.5;
    transition: 0.5s;
  }
}

@media (min-width: 350px) and (max-width: 410px) {
  .img-media-q{
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1023px) {
  .img-media-q{
    width: 340px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .img-media-q {
    width: 350px;
  }
}