$tw-bg-opacity: 1;
$color: #262626;
$white: #fff;
$font-family: Arial, Helvetica, sans-serif;
$transition: .32s ease-in-out;

body{
  background-color: $color;
  color: $white;
  font-family: $font-family;
}
