@import '../../styles/global.scss';

.header{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: $transition;
  &-active {
    @extend .header;
    background-color: $color;
    border-bottom: 1px solid gray;
  }
  .nav-movies-link{
    color: $white;
    font-weight: bold;
    text-decoration: none;
    &-activeNav{
      @extend .nav-movies-link;
      color: #FB2576;
      text-decoration: wavy;
      font-size: 19px;
      transition: $transition;
      
    }
    &:hover {
      transition: $transition;
      opacity: 0.6;
    }    
  }
}
@media (min-width: 424px) and (max-width:1023px) {
  .collapse{
    text-align: center;
  }  
}

