@import '../../styles/global.scss';

.header{
  position: fixed;
  z-index: 1;
  opacity: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: $transition;
  &-active {
    @extend .header;
    background-color: $color;
  }
  .nav-movies-link{
    color: $white;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      transition: $transition;
      opacity: 0.6;
    }
  }
}
@media (min-width: 424px) and (max-width:1023px) {
  .collapse{
    text-align: center;
  }  
}

