@import '../../styles/global.scss';

.card-movies{
  width: 250px;
  margin: 0px;
  padding: 0px;
  border: 1px solid $borderColor;
  padding: 10px;
  border-radius: 8px;
  &:hover{
    box-shadow: $shadow;
    border: 1px solid rgb(0, 0, 0);
    transition: $transition;
    
  }
  .img-size{
    border-radius: 5px;
    width: 100%;
   
  }
}